.wrapper {
    /* height: 107vh; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: rgb(228, 227, 227); */
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* max-width: 80%; */
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
    /* position: absolute;
    bottom: 0; */
  }
  
  .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  label {
    margin-bottom: .5em;
    color: #444;
    font-weight: lighter;
    margin-top: 10px;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #d6d1d5;
    background-color: aliceblue;
    /* margin-left: 50px; */
    width: 250px;
    
    
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  
  button {
    min-width: 145px;
    cursor: pointer;
    /* margin-right: 0.25em; */
    /* margin-top: 0.5em; */
    padding: 	0.938em;
    border: none;
    border-radius: 10px;
    background-color: #264e71;
    color: white;
  }
  button:hover {
    background-color: #4A4E69;
    color: black; 
  }

  .fullName,
  .email,
  .password {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  
  .fullName {
    width: 100%;
  }
  
  .email,
  .password {
    width: 100%;
  }
  .main{
      margin-top: 100px;
      display: flex;
      justify-content: center;
  }
  .submitButton{
    min-width: 80px;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 10px;
    background-color: #22223B;
    color: #fefefe;
  }
  .tabs{
      width: 800px;
      background-color: aliceblue;
  }
  .tabs {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    padding: 24px 32px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
    margin: 80px;
  }
  
  .tab-list {
    display: flex;
    /* background-color: rgb(66, 0, 0); */
   /* padding-bottom: 24px; */
  }
  
  .tab-progress {
    position: absolute;
    left: -1px;
    right: -1px;
    /* top: 6px; */
    /* height: 4px; */
    z-index: 0;
  
    background-color: #492796;
    transform-origin: 0%;
  }
  
  .tab {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    color: black;
    background-color: aliceblue;
    border: 1px solid #410808;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);

  
    transition: color 0.16s ease-in-out, background-color 0.16s ease-in-out,
      border-color 0.16s ease-in-out;
  }
  
  .tab:focus,
  .tab:focus-visible {
    box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
  }
  
  .tab:focus:not(:focus-visible) {
    box-shadow: none;
  }
  
  .tab.active {
    background-color: #492796;
    border-color: #492796;
    color: white;
    cursor: default;
  }
  
  .panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
  
    position: relative;
  }
  
  .panel {
    position: absolute;
  }
.align{
    display: flex;
    justify-content: center;
}
.App{
  /* margin-top: 100px; */
  margin: 100px;
}
.flex{
  display: flex;
}
.card{
  display: flex;
  padding: 40px;
}
.heading{
  display: flex;
  justify-content: center;
  background-color: rgb(239, 250, 252);
  margin-top: 0;
  height: 40px;
}
.content{
  padding: 10px;
}
.alignbutton{
  display: flex;
  justify-content: center;
  padding: 40px;
}
.save{
  margin-left: 450px;
}
.image{
  display: grid;
  grid-template-columns: auto;
}