@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Rubik:wght@300;400&display=swap");




.toggle {
  width: 34px;
  height: 35px;
  padding: 11px 10px;
  box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
  background-color: #ffffff;
  border-radius: 50%;
}

.toggleLine {
  width: 14px;
  height: 2px;
  margin-top: 2px;
  border-radius: 1px;
  background-color: var(--cerulean);
}

.headerContainer img {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 0 0.3rem;
  margin-top: 3px;
}

.headerContainer .logo {
  width: 90px;
  height: 35px;
  margin: 0 1.7rem;
}

.headerContainer .headerRight {
  display: flex;
}

.headerContainer .profile {
  width: 34px;
  height: 33px;
  border-radius: 50%;
}

.main {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.main h3 {
  width: 91px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: var(--black);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --dark-grey-blue: #3a4e6f;
    --cerulean: #009cde;
    --cerulean-01: rgba(0, 156, 222, 0.1);
    --blue-grey: #637696;
    --dark-lime-green: #86c306;
    --dark-forest-green: #000808;
    --black-5: rgba(0, 0, 0, 0.05);
    --ice-blue-two: #f9fdff;
    --black: #000000;
    --nice-blue-7: rgba(23, 115, 166, 0.07);
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  ul {
    list-style: none;
  }
  
  .mainContainer {
    width: 100%;
    margin: auto;
    padding: 18px 25px 40px;
    background-color: var(--ice-blue-two);
  }
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
  }
.main input {
  width: 95%;
  height: 50px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border-radius: 40px;
  border: none;
  box-shadow: 0 7px 15px 0 var(--nice-blue-7);
  background-color: #ffffff;
  position: relative;
}

.main input::placeholder {
  position: absolute;
  width: 100%;
  margin: 0.6rem auto;
  height: 32px;
  text-align: center;
  opacity: 0.3;
  font-family: AkkuratPro-Regular;
  font-size: 16px;
  line-height: 1.78;
  color: var(--blue-grey);
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-top: 20px;
}

.cardsContainer .card {
  width: 95%;
  margin: auto;
  height: 353px;
  padding: 28px 41px 36px 40px;
  border-radius: 20px;
  box-shadow: 0 7px 15px 0 var(--nice-blue-7);
  background-color: #ffffff;
}

.cardsContainer .card h3 {
  width: 90%;
  height: 36px;
  margin-bottom: 20px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  color: var(--black);
}

.cardsContainer .card ul {
  margin-bottom: 120px;
}

.cardsContainer .card ul li {
  margin-bottom: 15px;
}

.cardsContainer .card ul li a {
  height: 22px;
  font-family: AkkuratPro-Regular;
  font-size: 14px;
  line-height: 1.57;
  color: var(--cerulean);
}

.cardsContainer .card > a {
  width: 96px;
  height: 22px;
  margin-top: 500px;
  font-family: AkkuratPro-Regular;
  font-size: 14px;
  line-height: 1.57;
  color: var(--dark-lime-green);
}

.sideBar {
  display: none;
  width: 600px;
  margin-top: 0.8rem;
}

.sideBar p {
  margin-top: 2.5rem;
  color: var(--blue-grey);
  font-size: 15px;
  opacity: 0.5;
  text-transform: uppercase;
}

.sideBar a {
  display: block;
  color: #3a4e6f;
  font-size: 16px;
  font-weight: 500;
  margin: 2rem 0;
}

.contentContainer .sectionA {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.contentContainer .sectionARight {
  display: none;
}

.contentContainer .toggle {
  display: none;
}

.contentContainer .sectionA select {
  width: 40px;
  height: 20px;
  margin-right: 100px;
  font-family: AkkuratPro-Regular;
  border: none;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 1px;
  color: var(--dark-grey-blue);
}

.contentContainer .sectionA button {
  width: 160px;
  height: 45px;
  border: none;
  padding: 0.3rem 0.5rem;
  background-color: var(--dark-lime-green);
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 700px) {
  .headerContainer {
    display: none;
  }
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .contentContainer .toggle {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    padding: 15px 12px;
  }
  .contentContainer .toggle .toggleLine {
    width: 25px;
    height: 3px;
    margin-top: 3px;
  }
}

@media screen and (min-width: 1001px) {
  .sideBar {
    display: block;
  }
  .mainContainer {
    display: flex;
  }
  .contentContainer .sectionARight {
    display: block;
  }
  .contentContainer .toggle {
    display: none;
  }
  .cardsContainer .card {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1401px) {
  .contentContainer {
    margin-top: 1rem;
  }

  .contentContainer .sectionA h3 {
    font-size: 35px;
    font-weight: 500;
  }

  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cardsContainer .card {
    width: 380px;
  }
}