.heading {
    background-color: darken(#303a52, 10%);
    font-family: "Zhi Mang Xing", cursive;
    font-size: 3.5rem;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }
  
  .sub-heading {
    font-size: 1rem;
  }
  